.layer {
    position: fixed;
    top: 30%;
    bottom: 0;
    right: 0px;
    left: 30%;
    background: linear-gradient(283.59deg, #00244D 26.1%, #1769C6 170.66%);
    z-index: -1;
    transform: rotate(120deg);
    width: 100%;
    height: 100vh;
}